.custom-tab-bar {
    --background: #C2A9EF;
    --color: white;
    ion-tab-button {
        font-family: 'Jersey25', sans-serif;
        font-size: 0.8rem;
    }
}

.custom-tab-bar > ion-tab-button.tab-selected, ion-tab-button.tab-focused {
    --color-selected: rgb(255, 255, 255);
    font-size: 0.9rem;
}



/* Mostrar el label encima del I5on */

.reverseTab {
    flex-direction: column-reverse;
}

ion-tab-button > ion-icon, ion-label {
    margin: 0px;
}