.custom-tab-bar {
    --background: #C2A9EF;
    --color: white;
    ion-tab-button {
        font-family: 'Jersey25', sans-serif;
        font-size: 0.8rem;
    }
}

.custom-tab-bar > ion-tab-button.tab-selected, ion-tab-button.tab-focused {
    --color-selected: rgb(255, 255, 255);
    font-size: 0.9rem;
}

.headerToolbar {
  --background: var(--ion-color-primary);
  --border-style: none;
  font-family: 'Jersey25', sans-serif;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 8px;
}

.logoContainer h1 {
  font-family: monospace;
  font-size: 24px;
  margin: 0;
  color: white;
  letter-spacing: 2px;
  font-family: 'Jersey25', sans-serif;
}

/* Mostrar el label encima del I5on */

.reverseTab {
    flex-direction: column-reverse;
}

ion-tab-button > ion-icon, ion-label {
    margin: 0px;
}